<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="keywords" content="Performance Marketing Software, Build Affiliate Networks, Build Ad Networks" />
  <meta name="description" content="Offerslook is the performance marketing software to create and manage a smart affiliate network affordably. Sign up free and save your cost by 50%." />
  <meta name="google-site-verification" content="uvBKvd653jEsGwFBgPTv5V-GyF18Neej7zXYR8Tv-Ms" />
  <link rel="icon" href="static/images/favicon.ico">

  <title>Performance Marketing Software by Offerslook | Build Your Own Affiliate Network | Build Your Own Ad Network</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ asset('public/assets/css/imageuploadify.min.css') }}" rel="stylesheet">
  <link href="{{ asset('public/assets/css/dist/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('public/assets/css/vendor/ionslider/css/ion.rangeSlider.css') }}">
    <link rel="stylesheet" href="{{ asset('public/assets/css/vendor/ionslider/css/ion.rangeSlider.skinOL.css') }}">
  <link rel="stylesheet" href="{{ asset('public/assets/css/vendor/animate/animate.min.css') }}">
  <!-- Custom styles -->
  <link href="{{ asset('public/assets/css/dist/css/offerslook.minbc6e.css?v=20180628') }}" rel="stylesheet">
</head>

<body class="no-padding-top">


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top ol-navbar features-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index-2.html"><img alt="Brand" src="{{ asset('public/assets/css/static/images/logo.png') }}" /></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="features.html">Features</a></li>
        <li><a href="pricing.html">Pricing</a></li>
        <li><a href="http://support.offerslook.com/" target="_blank">Support</a></li>
        <li><a href="customer.html">Customers</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="blog/index.html" target="_blank">Blog</a></li>
          <li><a href="signup513b.html?type=3" class="signup"><span class="btn btn-primary">Sign Up</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div id="carousel-customers" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators hidden">
    <li data-target="#carousel-customers" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-customers" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active item-customer1">
      <div class="container">
        <div class="caption">
          <div class="col-sm-6 col-xs-10">
            <p><img src="static/images/customer/customer_bannerlogo01.png" /></p>
            <h1>
              <img src="static/images/customer/Customer_icon01.png"><br/>
              Offerslook is a truly trust-worthy and reliable platform and it makes it easy for us to streamline all business needs.
              <br/>
              <img src="static/images/customer/Customer_icon02.png" class="pull-right">
              <br/>
            </h1>
            <p class="text-right">
              <span class="pull-right">Mac Deng</span>
              <br/>
              <span class="pull-right small">COO</span>
            </p>
            <p><a class="btn btn-outline btn-border-2x btn-vpadding-2x" href="case-study-adunite.html">Read the Story</a> </p>
          </div>
        </div>
      </div>
    </div>
    <div class="item item-customer2">
      <div class="container">
        <div class="caption">
          <div class="col-sm-6 col-xs-10">
            <p><img src="static/images/customer/customer_bannerlogo02.png" /></p>
            <h1>
              <img src="static/images/customer/Customer_icon01.png"><br/>
              Moving to Offerslook, we have saved 60% tracking cost and achieve tracking reliability.
              <br/>
              <img src="static/images/customer/Customer_icon02.png" class="pull-right">
              <br/>
            </h1>
            <p class="text-right">
              <span class="pull-right">Ozgur</span>
              <br/>
              <span class="pull-right small">CEO</span>
            </p>
            <p><a class="btn btn-outline btn-border-2x btn-vpadding-2x" href="case-study-vamos-media.html">Read the Story</a> </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-customers" role="button" data-slide="prev" style="background: none">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-customers" role="button" data-slide="next" style="background: none">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="main-list">
  <div class="container">
    <h1 class="text-center">Don't take our word for it.</h1>
    <h1 class="text-center" style="margin-bottom: 30px">Here's what our customers say about us.</h1>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="card-customer">
          <div class="customer-logo">
            <img src="static/images/customer/customer_card_logo01.png" class="center-block"/>
          </div>
          <div class="customer-words">
            <p class="text-center">
              Thanks to Offerslook's pay-as-you-go pricing approach,
              we are able to enjoy better cash flow and further scale up our business.
            </p>
          </div>
          <div class="customer-info">
            <p class="customer-name text-center">Marina Tkalenko</p>
            <p class="customer-title text-center">Chief Executive Officer</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card-customer">
          <div class="customer-logo">
            <img src="static/images/customer/customer_card_logo02.png" class="center-block"/>
          </div>
          <div class="customer-words">
            <p class="text-center">
              Offerslook has real time tracking and reporting.
              It also offers some features to analyze and optimize the offers.
              We really like the platform.
            </p>
          </div>
          <div class="customer-info">
            <p class="customer-name text-center">Benjamin Wong</p>
            <p class="customer-title text-center">Chief Executive Officer</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card-customer">
          <div class="customer-logo">
            <img src="static/images/customer/customer_card_logo03b78e.png?v=20180419" class="center-block"/>
          </div>
          <div class="customer-words">
            <p class="text-center">
              Offerslook is best place which aid in planning, managing, reviewing and optimizing performance.
              Our first preference ever! Special thanks to valued support team! Your dedication is incredible!
            </p>
          </div>
          <div class="customer-info">
            <p class="customer-name text-center">Mahima Shree / Rahul Sharma</p>
            <p class="customer-title text-center">Director of Performance Marketing</p>
          </div>
        </div>
      </div>
<!--    </div>

    <div class="row">-->
      <div class="col-sm-6 col-md-4">
        <div class="card-customer">
          <div class="customer-logo">
            <img src="static/images/customer/customer_card_logo04.png" class="center-block"/>
          </div>
          <div class="customer-words">
            <p class="text-center">
              The interface is very intuitive and easy to use. It helps to understand how effective the advertising is.
            </p>
          </div>
          <div class="customer-info">
            <p class="customer-name text-center">Özgür Kayabey</p>
            <p class="customer-title text-center">Chief Executive Officer</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card-customer">
          <div class="customer-logo">
            <img src="static/images/customer/customer_card_logo05b78e.png?v=20180419" class="center-block"/>
          </div>
          <div class="customer-words">
            <p class="text-center">
              Offerslook equips us with some very powerful tools and functionalities to ease and optimize our business needs at a value for money cost!
              Like the way they are constantly working on taking feedback and meeting our needs further.
            </p>
          </div>
          <div class="customer-info">
            <p class="customer-name text-center">Haresh Bilakhia</p>
            <p class="customer-title text-center">Director</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card-customer">
          <div class="customer-logo">
            <img src="static/images/customer/customer_card_logo06.png" class="center-block"/>
          </div>
          <div class="customer-words">
            <p class="text-center">
              The platform provides powerful solution to manage our hundreds of offers and publishers at the same time with almost very least work load.
              I am very well pleased with it.
            </p>
          </div>
          <div class="customer-info">
            <p class="customer-name text-center">Zeeshan Shah</p>
            <p class="customer-title text-center">Chief Executive Officer</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="other-list bg-gray">
  <div class="container">
    <h1 class="text-center">We're proud to be part of our customers' success.</h1>

    <div class="customer-icon-list">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/gorilla.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/customer_logo01.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ">
          <img src="static/images/customer/customer_logo02.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/customer_logo03.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/customer_logo04.png" />
        </div>

        <div class="col-lg-offset-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/customer_logo06.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/customer_logo07.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/customer_logo08.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/customer_logo10.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/customer_logo12.png" />
        </div>

        <div class="col-lg-offset-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/customer_logo13.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/customer_logo15.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/adotize.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/affloop.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/digital_river.png" />
        </div>

        <div class="col-lg-offset-1 col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/epom.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/eptonic.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/leanmobi.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/performics.png" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <img src="static/images/customer/square_hd.png" />
        </div>
      </div>
    </div>

    <h1 class="bottom-header">
      Join our 1000+ happy customers across the globe!
      <a class="btn btn-outline btn-border-2x btn-vpadding-2x" href="pricing.html">Sign up for free trial</a>
    </h1>
  </div>
</section>
<section class="section-bottom  bg-gray">
  <div class="container">

    <div class="row bottom-block">
      <!-- social share -->
      <div class="col-sm-7 clearfix">
        <ul class="list-inline social-links">
          <li>
            <a class="social-facebook" target="_blank" href="https://www.facebook.com/offerslooksaas/"></a>
          </li>
          <li>
            <a class="social-twitter" target="_blank"  href="https://twitter.com/OfferslookSaaS"></a>
          </li>
          <li>
            <a class="social-linkedin" target="_blank"  href="https://www.linkedin.com/company/offerslook"></a>
          </li>
          <li>
            <a class="social-youtube" target="_blank"  href="https://www.youtube.com/channel/UCoV3ovcRvTfwRzi0AFs_jkg"></a>
          </li>
        </ul>
      </div>

      <!-- footer menu-->
      <div class="col-sm-5 clearfix">
        <div class="row">
          <div class="col-sm-4 col-xs-6">
            <ul class="list-unstyled bottom-nav">
              <li>Product</li>
              <li><a href="features.html">Features</a></li>
              <li><a href="pricing.html">Pricing</a></li>
                <li><a href="signup513b.html?type=3">Sign Up</a></li>
            </ul>
          </div>

          <div class="col-sm-4 col-xs-6">
            <ul class="list-unstyled bottom-nav">
              <li>Support</li>
              <li><a href="http://support.offerslook.com/support/home" target="_blank">Knowledge Base</a></li>
              <li><a href="https://www.youtube.com/channel/UCoV3ovcRvTfwRzi0AFs_jkg" target="_blank">Video</a></li>
              <li><a href="http://support.offerslook.com/support/discussions" target="_blank">Forum</a></li>
              <li><a href="http://support.offerslook.com/support/solutions/14000039655" target="_blank">FAQ</a></li>
              <li><a href="https://offerslook.gitbooks.io/api-documentation/content/index.html" target="_blank">API</a></li>
              <li><a href="demo.html">Demo</a></li>
            </ul>
          </div>

          <div class="col-sm-4 col-xs-6">
            <ul class="list-unstyled bottom-nav">
              <li>Company</li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="blog/index.html" target="_blank">Blog</a></li>
              <li><a href="https://blog.offerslook.com/tagged/news">Media</a></li>
              <li><a href="event.html">Event</a></li>
              <li><a href="customer.html">Customers</a></li>
              <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Site footer -->
    <footer class="footer">
      <div class="row">
        <div class="col-lg-7">
          <p class="copyright">&copy; Copyright
            <script>document.write(new Date().getFullYear())</script>
            MAAS PVT. LIMITED. All rights reserved.
          </p>
        </div>
        <div class="col-lg-5">
          <ul class="list-inline footer-link pull-right">
            <li><a target="_blank" href="gdpr.html">GDPR</a></li>
            |
            <li><a target="_blank" href="cookie-policy.html">Cookie Policy</a></li>
            |
            <li><a target="_blank" href="msa.html">Master Service Agreement</a></li>
            |
            <li><a target="_blank" href="terms-of-use.html">Terms of Use</a></li>
            |
            <li><a target="_blank" href="privacy-policy.html">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</section>
<!-- / Footer Section -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('public/assets/css/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('public/assets/css/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('public/assets/css/static/js/commonbc6e.js?v=20180628') }}"></script>
<script type="text/javascript">
  $(window).scroll(function () {
    var top = $(document).scrollTop();
    if(top == 0){
      $("#navbar").find("a").addClass('navbar-a-color');
    }else{
      $("#navbar").find("a").removeClass('navbar-a-color');
    }
  });
</script>
</body>

</html>

